* {
    margin: 0;
}
header {
    background-color: black;
    color: white;
}
ul {
    display: flex;
    justify-content: space-between;
    padding-top: 1%;
}
li {
    display: flex;
    align-items: center;
}
img {
    width: 100px;
}
nav {
    width: 87%;
    margin: auto;
}
.userLi {
    width: 27%;
    padding: 9px 5px;
    border-radius: 27px;
    background-color: white;
    color: black;
}
.userLi svg {
    margin: 0 7%;
    color: gray;
}